/* Общие */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    /* MAIN */
    --main-grey: #4C4C4C;
    --main-yellow:#FFE500;
    --main-pink: #FF4646;
    --main-pink-light: #FF8E8E;

    /* BG */
    --bg-white: #ffffff;
    --bg-light: #e5e7f0;

    /* ТЕКСТ */
    --text-black: #212121;
    --text-header: #101010;
    --text-menu: #5F5F5F;
    --text-menu-hov: #8d8d8d;
    --text-red: #FF4646;

    /* GAPы */
    --gap8: 8px;
    --gap12: 12px;
    --gap16: 16px;
    --gap24: 24px;
    --gap32: 32px;
}

/* ТЕКСТ И ССЫЛКИ */

a, p, ul, li, h3, h4, h5, h6 {
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--text-black);
}


/*  BTN КНОПКИ */

.btn {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--btn-prdef-bg);
    border: none;
    border-radius: 4px;
    color: var(--btn-pr-t);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 16px 32px;
    width: fit-content;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--btn-prh-bg);
    color: var(--btn-pr-t);
    transition: all 300ms linear;
}

.btn:active {
    background-color: var(--btn-prcl-bg);
    color: var(--btn-pr-t);
    transition: all 300ms linear;
}

/* РАЗМЕРЫ КНОПОК - normal по умолчанию */

.large {
    font-size: 20px;
    padding: 20px 32px;
}

.normal {
    font-size: 20px;
    padding: 16px 32px;
}

.medium {
    font-size: 16px;
    padding: 14px 32px;
}

.smoll {
    font-size: 14px;
    padding: 12px 24px;
}

.extrasmoll {
    font-size: 14px;
    padding: 8px 24px;
}

/* ЗАГОЛОВКИ */

h1, .subtitle-home {
    font-family: 'Unbounded', sans-serif;
    font-size: 110px;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 120%;
    letter-spacing: 0.1px;
    color: var(--text-header);
}

@media (max-width: 600px) {
    h1, .subtitle-home {
        font-size: 64px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    h1, .subtitle-home {
        font-size: 72px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    h1, .subtitle-home {
        font-size: 80px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    h1, .subtitle-home {
        font-size: 88px;
    }
}

h2, .about-title {
    font-family: 'Unbounded', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 120%;
    color: var(--text-black);
}

/* CONTAINER */

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    .container {
        max-width: calc(100% - 40px);
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .container {
        max-width: calc(100% - 40px);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: calc(100% - 40px);
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .container {
        max-width: calc(100% - 20px);
    }
}

/* главная */

/* КАРТИНКИ */
.img-header {
    position: absolute;
    top: 0;
}

/* HEADER */
.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 128px;

    padding: 24px;
}

@media (max-width: 768px) {
    .nav-list {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .nav-list {
        gap: 32px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .nav-list {
        gap: 64px;
    }
}

.nav-item {
    list-style-type: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: var(--text-menu);
}

@media (min-width: 768px) and (max-width: 1024px) {
    .nav-item {
        font-size: 16px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .nav-item {
        font-size: 18px;
    }
}

.nav-item:hover {
    color: var(--text-menu-hov);
    transition: color 200ms linear;
}

/* баннер */

.section-home {
    padding-top: 24px;
}

.img-home {
    position: absolute;
    top: 34px;
    left: 680px;

    width: 310px;
    height: 310px;
    object-fit: cover;
    object-position: top;

    border-radius: 400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

@media (max-width: 600px) {
    .img-home {
        top: 70px;
        left: 280px;

        width: 200px;
        height: 200px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .img-home {
        top: 50px;
        left: 380px;

        width: 260px;
        height: 260px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .img-home {
        top: 34px;
        left: 480px;

        width: 290px;
        height: 290px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .img-home {
        top: 34px;
        left: 580px;
    }
}

.text-home{
    padding-top: 75px;
}

.title-home {
    padding-bottom: 32px;
}

.subtitle-accent {
    color: var(--text-red);
}

.subtitle-home {
    padding-bottom: 80px;
}

/* ОБО МНЕ */

.about-title-list {
    margin-left: auto;
    width: calc(100% / 2 - var(--gap24));
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
}

.about-title-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap24);
    padding-bottom: 8px;
}

.about-subtitle {
    font-weight: 700;
    padding: 16px 48px 15px 48px;
    background-color: var(--main-yellow);
    border-radius: 30px;
    /* max-height: 60px; */
}

.about-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap24);
}

.about-item {
    width: calc((100% - var(--gap24)*1)/2);
}

.about-text {
    font-size: 20px;
    padding-bottom: 24px;
}

.skills-title {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 16px;
}

.skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap12);
}

.skills-item {
    font-weight: 700;
    font-size: 16px;
    border: 1px solid var(--main-pink);
    color: var(--main-pink-light);
    border-radius: 30px;
    padding: 15px 36px;
}

.about-img {
    border-radius: 294px;
    object-fit: cover;
    object-position: top;
    max-width: 588px;
    max-height: 733px;
}









/* сильные стороны */

.section-power {
    border-color: aliceblue; 
}

.container-section-power {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #e4e4e4;
    padding-top: 80px;
    padding-bottom: 80px;
}

.nav-power-item {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.nav-power-item:last-child {
    margin: 10px 0px 0px 10px;
}

.nav-power-item-list {
    width: 260px;
    height: 260px; 
    border-radius: 30px;
    border: 1px solid #dcc5ff;
    margin: 10px 10px 20px 10px;
}

.power-item-icon {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

.power-item-description {
    font-size: 13px;
    color: rgb(104, 104, 104);
}

.section-power-header{
    color: #2b1e3f;
    text-align: center;
}

/* Мое портфолио */

.section-job {
    border-color: aliceblue; 
}

.container-section-job {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-job-header {
    color: #2b1e3f;
}

.job-item {
    text-align: center;
}

.job-item-list {
    display: inline-block;
    padding: 0px 10px 0px 10px;
}

.job-item-image {
    background: url('/images/bg-header.jpg');
    height: 270px;
    width: 360px;
    object-fit: cover;
    border-radius: 30px;
}

.job-item-description {
    font-size: 16px;
    color: rgb(104, 104, 104);
    padding-top: 20px;
    padding-bottom: 20px;
}


/* Контакты */

.section-contacts {
    background-color: #2b1e3f;
}

.container-section-contacts {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
    padding-top: 80px;
}

.section-contacts-header {
    color: white;
    text-align: center;
}

.contacts-item {
    text-align: center;
}

.contacts-item-list {
    display: inline-block;
    border-bottom: 1px solid #dcc5ff;
    margin-left: 20px;
    margin-right: 20px;
}

.contacts-item-description {
    color: #dcc5ff;
    padding-bottom: 10px;
    padding-top: 10px;
}

.link-contacts {
    color: #dcc5ff;
}