/* Общие */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    /* MAIN */
    --main-grey: #4C4C4C;
    --main-yellow:#FFE500;
    --main-pink: #FF4646;
    --main-pink-light: #FF9595;

    /* BG */
    --bg-white: #ffffff;
    /* --bg-light2: #e5e7f0; */
    --bg-light: #EAF0F2;
    --bg-blue-light: #CCD2DA;
    --main-pink-elight: #ffd3d3;

    /* STROKE */
    --str-grey: #818181;

    /* ТЕКСТ */
    --text-black: #212121;
    --text-header: #101010;
    --text-menu: #5F5F5F;
    --text-menu-hov: #8d8d8d;
    --text-red: #FF4646;
    --text-white: #ffffff;
    --text-light: #CCD2DA;

    /* GAPы */
    --gap8: 8px;
    --gap12: 12px;
    --gap16: 16px;
    --gap24: 24px;
    --gap32: 32px;

    /*  BTN */
    /* Primary */
    --btn-pr-bg: #FF4646;
    --btn-pr-t: #ffffff;
    --btn-pr-sh: #FFC0C0;
    --btn-pr-bgh: #FF4646;
    --btn-pr-th: #ffffff;
    --btn-pr-bgcl: #B72424;
    --btn-pr-tcl: #ffffff;
}


/* ТЕКСТ И ССЫЛКИ */

a, p, ul, li, h3, h4, h5, h6 {
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--text-black);
}

@media (max-width: 600px) {
    p {
        font-size: 16px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    p {
        font-size: 17px;
    }
}


/*  BTN КНОПКИ */

.btn {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--btn-pr-bg);
    border: none;
    border-radius: 30px;
    color: var(--btn-pr-t);
    box-shadow: 0px 5px 0px var(--btn-pr-sh);
    
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;

    text-align: center;
    padding: 20px 40px 16px 40px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .btn {
        font-size: 16px;
        padding: 17px 32px 14px 32px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .btn {
        font-size: 17px;
        padding: 18px 36px 14px 36px;
    }
}

.btn:hover {
    box-shadow: 0px 0px 0px var(--btn-pr-sh);
    transition: all 100ms linear;
}

.btn:active {
    background-color: var(--btn-pr-bgcl);
    color: var(--btn-pr-tcl);
    transition: all 200ms linear;
}


/* РАЗМЕРЫ КНОПОК - normal по умолчанию */

.large {
    font-size: 20px;
    padding: 20px 32px;
}

.normal {
    font-size: 20px;
    padding: 16px 32px;
}

.medium {
    font-size: 16px;
    padding: 14px 32px;
}

.smoll {
    font-size: 14px;
    padding: 12px 24px;
}

.extrasmoll {
    font-size: 14px;
    padding: 8px 24px;
}


/* ЗАГОЛОВКИ */

h1, .subtitle-home {
    font-family: 'Unbounded', sans-serif;
    font-size: 110px;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 120%;
    letter-spacing: 0.1px;
    color: var(--text-header);
}

@media (max-width: 340px) {
    h1, .subtitle-home {
        font-size: 40px;
    }
}

@media (min-width: 340px) and (max-width: 400px) {
    h1, .subtitle-home {
        font-size: 50px;
    }
}

@media (min-width: 400px) and (max-width: 600px) {
    h1, .subtitle-home {
        font-size: 64px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    h1, .subtitle-home {
        font-size: 72px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    h1, .subtitle-home {
        font-size: 80px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    h1, .subtitle-home {
        font-size: 88px;
    }
}

h2, .about-title {
    font-family: 'Unbounded', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 120%;
    color: var(--text-black);
}

@media (max-width: 600px) {
    h2, .about-title {
        font-size: 30px;
        text-align: center;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    h2, .about-title {
        font-size: 32px;
        text-align: center;
    }
}


/* CONTAINER */

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    .container {
        max-width: calc(100% - 40px);
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .container {
        max-width: calc(100% - 40px);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: calc(100% - 40px);
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .container {
        max-width: calc(100% - 20px);
    }
}


/* ДРУГИЕ СВОЙСТВА */

.cntr-alignment {
    margin: 0px auto;
    display: block
}

.indent80px {
    padding-top: 80px;
}

@media (max-width: 600px) {
    .indent80px {
        padding-top: 40px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .indent80px {
        padding-top: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .indent80px {
        padding-top: 60px;
    }
}

/* ГЛАВНАЯ */

/* КАРТИНКИ */

.img-header {
    position: absolute;
    top: 0;
}

@media (max-width: 600px) {
    .img-header {
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .img-header {
        width: 100%;
    }
}


/* HEADER */

.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 128px;
    padding: 24px 0px;
}

@media (max-width: 768px) {
    .nav-list {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .nav-list {
        gap: 32px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .nav-list {
        gap: 64px;
    }
}

.nav-item {
    list-style-type: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: var(--text-menu);
}

@media (min-width: 768px) and (max-width: 1024px) {
    .nav-item {
        font-size: 16px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .nav-item {
        font-size: 18px;
    }
}

.nav-item:hover {
    color: var(--text-menu-hov);
    transition: color 200ms linear;
}

/* header для mob версии */

.navigation {
    padding-top: 20px;
}

@media (min-width: 769px) {
    .navigation {
        display: none;
    }
}

.hamburger-menu {
    display: flex;
    justify-content: end;
}

.hamburger-icon {
    font-size: 32px;
    color: var(--text-menu);
    cursor: pointer;
}

.hamburger-icon:active {
    color: var(--text-menu-hov);
}

.icon-close {
    font-size: 32px;
    color: var(--text-menu);
    cursor: pointer;
    display: none;
}

.menu {
    display: none;
    position: absolute;
    z-index: 1;
    top: 64px;
    width: 100%;
}

.nav-list-mob {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding: 32px;
    background-color: var(--bg-light);
    border-radius: 30px;
    /* width: 100%; */
}

.nav-item-mob {
    list-style-type: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: var(--text-menu);
}

/* баннер */

.section-home {
    padding-top: 24px;
}

@media (max-width: 768px) {
    .section-home {
        padding-top: 0px;
    }
}

.img-home {
    position: absolute;
    top: 34px;
    left: 680px;

    width: 310px;
    height: 310px;
    object-fit: cover;
    object-position: top;

    border-radius: 400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

@media (max-width: 500px) {
    .img-home {
        display: none;
    } 
}

@media (min-width: 500px) and (max-width: 600px) {
    .img-home {
        top: 15px;
        left: 280px;

        width: 180px;
        height: 180px;
    }
}

@media (min-width: 600px) and (max-width: 650px) {
    .img-home {
        top: 20px;
        left: 350px;

        width: 210px;
        height: 210px;
    }
}

@media (min-width: 650px) and (max-width: 680px) {
    .img-home {
        top: 20px;
        left: 370px;

        width: 230px;
        height: 230px;
    }
}

@media (min-width: 680px) and (max-width: 768px) {
    .img-home {
        top: 20px;
        left: 400px;

        width: 260px;
        height: 260px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .img-home {
        top: 40px;
        left: 480px;

        width: 290px;
        height: 290px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .img-home {
        top: 34px;
        left: 580px;
    }
}

.text-home{
    padding-top: 75px;
}

@media (max-width: 600px) {
    .text-home{
        padding-top: 20px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .text-home{
        padding-top: 40px;
    }
}

.title-home {
    padding-bottom: 32px;
}

.subtitle-accent {
    color: var(--text-red);
}

.subtitle-home {
    padding-bottom: 80px;
}

@media (max-width: 600px) {
    .subtitle-home {
        padding-bottom: 40px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .subtitle-home {
        padding-bottom: 60px;
    }
}

/* ОБО МНЕ */

.about-title-list {
    margin-left: auto;
    width: calc(100% / 2 - var(--gap24));
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
}

@media (max-width: 600px) {
    .about-title-list {
        margin-left: 0;
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .about-title-list {
        margin-left: 0;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .about-title-list {
        margin-left: 0;
        width: 100%;
    }
}

.about-title-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap24);
}

@media (max-width: 600px) {
    .about-title-item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--gap16);
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .about-title-item {
        flex-direction: column;
        justify-content: center;
    }
}

.about-title-indent {
    padding-bottom: 8px;
}

@media (max-width: 600px) {
    .about-title-indent {
        text-align: center;
    }
}

.about-subtitle {
    font-weight: 700;
    background-color: var(--main-yellow);
}

.fillet-shape {
    border-radius: 30px;
    padding: 16px 48px 15px 48px;
}

@media (max-width: 600px) {
    .fillet-shape {
        padding: 14px 32px 13px 32px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .fillet-shape {
        padding: 15px 40px 14px 40px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .fillet-shape {
        padding: 16px 44px 15px 44px;
    }
}

.about-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap24);
}

@media (max-width: 600px) {
    .about-list {
        flex-direction: column-reverse;
        align-items: start;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .about-list {
        flex-direction: column-reverse;
        align-items: start;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .about-list {
        flex-direction: column-reverse;
        align-items: start;
    }
}

.about-item {
    width: calc((100% - var(--gap24)*1)/2);
}

@media (max-width: 600px) {
    .about-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .about-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .about-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.about-text {
    font-size: 20px;
    padding-bottom: 24px;
}

.skills-title {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 16px;
}

.skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap12);
}

.skills-item {
    font-weight: 700;
    font-size: 16px;
    border: 1px solid var(--main-pink);
    color: var(--main-pink-light);
    border-radius: 30px;
    padding: 15px 36px;
}

@media (max-width: 600px) {
    .skills-item {
        font-size: 15px;
        padding: 13px 30px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .skills-item {
        font-size: 15px;
        padding: 14px 32px;
    }
}

.about-img {
    border-radius: 294px;
    object-fit: cover;
    object-position: top;
    width: 75%;
    /* max-width: 588px;
    max-height: 733px; */
}

@media (max-width: 600px) {
    .about-img {
        width: 90%;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .about-img {
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .about-img {
        width: 60%;
    }
}


/* СИЛЬНЫЕ СТОРОНЫ */

.background-border {
    background-color: var(--main-pink-light);
    border-radius: 30px;
    margin: 80px 0px;
    padding: 80px 0px;
}

@media (max-width: 600px) {
    .background-border {
        margin: 40px 0px;
        padding: 40px 0px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .background-border {
        margin: 40px 0px;
        padding: 40px 0px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .background-border {
        margin: 60px 0px;
        padding: 60px 0px;
    }
}

.power-subtitle {
    font-weight: 700;
    background-color: var(--bg-white);
    color: var(--text-red);
}

.power-title {
    color: var(--text-white);
}

@media (max-width: 600px) {
    .power-title {
        text-align: center;
    }
}

.left-alignment {
    justify-content: end;
}

@media (max-width: 600px) {
    .left-alignment {
        justify-content: center;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .left-alignment {
        justify-content: center;
    }
}

.nav-power-list { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: var(--gap24);
    padding-top: 40px;
}

@media (max-width: 600px) {
    .nav-power-list { 
        flex-direction: column;
        padding-top: 30px;
    }
}

@media (min-width: 600px) and (max-width: 920px) {
    .nav-power-list { 
        flex-direction: column;
    }
}

.nav-power-item {
    width: calc(100% - (var(--gap24)*2)/3);
    border-radius: 30px;
    border: 1px solid var(--bg-white);
    text-align: center; 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gap16);
    padding: 80px 32px;
}

@media (max-width: 600px) {
    .nav-power-item {
        width: 100%;
        padding: 60px 50px;
    }
}

@media (min-width: 600px) and (max-width: 920px) {
    .nav-power-item {
        width: 100%;
        padding: 60px 50px;
    }
}

.power-subtitle-item {
    font-size: 20px;
    font-weight: 700;
    color: var(--text-white);
}

.power-description {
    color: var(--text-white);
}

.power-icon {
    width: 70px;
}


/* Мое портфолио */

.portfolio-list {
    display: flex;
    flex-direction: row;
    gap: var(--gap24);
    padding: 40px 0px 20px 0px;
}

@media (max-width: 600px) {
    .portfolio-list {
        flex-direction: column;
        padding: 30px 0px 20px 0px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .portfolio-list {
        flex-direction: column;
        padding: 30px 0px 20px 0px;
    }
}

.portfolio-item {
    width: calc((100% - var(--gap24)*1)/2);

    padding: 35px;
    background: var(--bg-light);
    border-radius: 30px;
}

@media (max-width: 600px) {
    .portfolio-item {
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .portfolio-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .portfolio-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.title-portfolio {
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    padding-bottom: 24px;
}

@media (max-width: 600px) {
    .title-portfolio {
        font-size: 24px;
        padding-bottom: 18px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .title-portfolio {
        font-size: 26px;
        padding-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .title-portfolio {
        font-size: 28px;
        padding-bottom: 20px;
    }
}

.img-portfolio {
    border-radius: 20px;
    object-fit: contain;
    width: 100%;
}


/* КОНТАКТЫ */

.about-title-item-revese {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap24);
}

@media (max-width: 600px) {
    .about-title-item-revese {
        flex-direction: column;
        gap: var(--gap16);
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .about-title-item-revese {
        flex-direction: column;
    }
}

.footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap24);
    padding: 40px 0px;
}

@media (max-width: 600px) {
    .footer-list {
        flex-direction: column;
        padding: 30px 0px;
        gap: var(--gap16);
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .footer-list {
        flex-direction: column;
    }
}

.footer-item {
    padding: 40px 0px 40px 35px;
    background: var(--bg-white);
    border: 2px solid var(--str-grey);
    border-radius: 30px;
}

@media (max-width: 600px) {
    .footer-item {
        padding: 30px 0px 30px 20px;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .footer-item {
        padding: 30px 0px 30px 30px;
    }
}

.footer-item:hover {
    border: 2px solid var(--main-pink-light);
    transition: all 200ms linear;
}

.item-width {
    width: calc((100% - var(--gap24)*2)/3);
    overflow: hidden;
}

@media (max-width: 600px) {
    .item-width {
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .item-width {
        width: 100%;
    }
}

.item-shadow {
    box-shadow: 0px 67px 0px var(--bg-blue-light);
}

.item-shadow:hover {
    box-shadow: 0px 67px 0px var(--main-pink-elight);
}

@media (max-width: 600px) {
    .item-shadow {
        box-shadow: 0px 0px 0px var(--bg-blue-light);
    } 
}

@media (min-width: 600px) and (max-width: 900px) {
    .item-shadow {
        box-shadow: 0px 0px 0px var(--bg-blue-light);
    } 
}

@media (min-width: 900px) and (max-width: 1024px) {
    .item-shadow {
        box-shadow: 0px 70px 0px var(--bg-blue-light);
    } 
}

.item-not-shadow {
    display: flex;
    flex-direction: column;
    gap: var(--gap24);
}

@media (max-width: 600px) {
    .item-not-shadow {
        gap: var(--gap16);
    }
}

.subtitle-footer {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
}

@media (max-width: 600px) {
    .subtitle-footer {
        font-size: 20px;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .subtitle-footer {
        font-size: 24px;
    }
}

@media (min-width: 900px) and (max-width: 1024px) {
    .subtitle-footer {
        font-size: 26px;
    }
}

.footer-description {
    font-weight: 700;
    color: var(--text-light);
}

@media (max-width: 600px) {
    .footer-description {
        font-size: 16px;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .footer-description {
        font-size: 16px;
    }
}

@media (min-width: 900px) and (max-width: 1024px) {
    .footer-description {
        font-size: 17px;
    }
}